.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
**/project.properties
**/local.properties
*.apk
**/proguard_logs/
*lint.xml

**/bin/

**/gen/

**/.settings/

**/obj/

**/.svn/

**/out/

**/.idea/

*.iml
*.class