.DS_Store
com_crashlytics_export_strings.xml
crashlytics-build.properties
*.class

**/project.properties
**/local.properties
local.properties
*.apk
**/proguard_logs/
*lint.xml

**/bin/

**/gen/

**/.settings/

**/obj/

**/.svn/

**/out/

**/.idea/

*.iml


build/
.gradle/
**/build/
**/.gradle/
com_crashlytics_export_strings.xml
crashlytics-build.properties

.idea/*
